.findMembersMasterContainer{
    margin: -0.6%;
    height: 100vh;
    /* background-color: red; */
    width: 101.1%;
    display: flex;
    flex-direction:column;
}

.homePageContentContainer{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    width: 99%;
    margin-top: 3.5%;
}

.navBarContainer{
    position: fixed;
    /* background-color: red; */
    height: 100%;
    width: 3%; 
}

.ContainerHeader{
    font-size: 5vh;
    background-color: rgb(214, 218, 223);
    padding: 1%;
}
.findBlockContainer,
.FindBlock{
    background-color: rgb(207, 209, 210);
    width: 100%;
    height: 30vh;
    border-radius:5px;
}

.FindBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    row-gap: 5vh;
    font-size: 3vh;
}

.findMembersContentContainer{
    margin-top: 3.6%;
}

.ContentContainer{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 1%;
}

.Row{
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15%;
}