.userinfoPageMasterContainer{
    margin: -0.6%;
    height: 100vh;
    /* background-color: red; */
    width: 101.1%;
    display: flex;
    flex-direction:column;
}

.SpotLightContainer{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add box shadow */
    background-color: rgb(249, 249, 249);
    width: 99%;
    border-radius: 3px;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
}

.userinfoPageContentContainer{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    width: 99%;
    margin-top: 3.5%;
}

.navBarContainer{
    position: fixed;
    /* background-color: red; */
    height: 100%;
    width: 3%; 
}

.SpotLightContainerHeader{
    border: solid 1px rgb(203, 196, 196);
    border-radius: 2.5px;
    display: flex;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
    padding: 0.5%;
    background-color:rgba(0, 0, 0, .03);
    width: 99%;
    height: 4%;
}
