
body {
    font-family: 'Istok Web', sans-serif;
}


.hostProjectMasterContainer{
    height: 100vh;
    margin: -0.6%;
    width: 101.1%;
    display: flex;
    flex-direction: column;
}   

.navBar{
    position: fixed;
    background-color: red;
    height: 100%;
    width: 3%; 
    /* margin-top: 3.6%; */
}

.HeaderContainer{
    position: fixed;
    width: 100%;
}

.HostProjectContentContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3.8%;
}

.hostProjectContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 4%;
}

.masterLabel{
    font-weight: bold;
    font-size: 25px;
}

.hostProjectDetailsBoxDiv,
.hostProjectTitleBoxDiv{
    width: 95%;
    font-weight: bold;
    border: solid 2px rgb(48, 186, 64);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    background-color: #F9F8F8;
}

.hostProjectTitleBoxDiv{
    width: 96.2%;
}

.hostProjectDetailsBoxDiv{
    padding: 1%;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.inputBoxDiv{
    padding: 1%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border: solid 1px rgb(163, 165, 160);
    border-radius: 5px;
    justify-content: center;
    align-items: left;
}

.label{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.label2{
   display: flex;
   flex-direction: row;
   column-gap: 10px; 
   align-items: center;
}

.projectCatProjectDom{
    display: flex;
    flex-direction: row;
    column-gap: 10%;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  /* Table header styles */
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Table body styles */
  td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Delete button styles */
  button {
    padding: 5px 10px;
    background-color: #35dc4b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #0d8e3a;
  }
  