.card {
  background-color: rgb(255, 255, 255);
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    position: relative; 
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .card-body {
    margin-top: 10px;
    position: relative;
    z-index: 3;
  }
  
  input[type="text"] {
    width: calc(100% - 110px); /* Adjust width to fit button and suggestions list */
    padding: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    position: relative; /* Add relative positioning to the table */
    z-index: 1; /* Set a lower z-index for the table */
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  th {
    background-color: #f5f5f5;
  }
  
  td button {
    background-color: #dc3545;
  }
  
  .suggestions {
    /* margin-top: -15%; */
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100% - 20px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 5; /* Set a higher z-index for the suggestions list */
  }
  
  .suggestions li {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }
  